*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: auto;
    height: auto;
}
.container{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    /* margin-bottom: -1rem; */
    width: 1200px;
    padding: 2rem;
    background-color: rgba(50, 49, 49, 0.156);
    border-radius: 10px;
}
.job-heading{
    margin-bottom: -1.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0rem;
    width: 300px;
    text-align: center;
}
.job-heading h1{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 12px;
}
.company-container{
    margin-top: 2.5rem;
    width: 900px;
    padding: 0.5rem 0.8rem;
    margin-left: 10%;
}
.companies{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 18px;
    border-bottom: 2px solid black;
    font-weight: 600;
}
.applyBtn{
    width: 70px;
    height: 40px;
    background-color: #e84263;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
}
.applyBtn:hover{
    background-color:#ff0134;
    border: 0.5px solid black;
    box-shadow: 0 0 5px;
}
.applyBtn a{
    color: white;
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
}
.para{
    margin-top: 2rem;
    margin-bottom: -2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 760px;
}
.para-text{
    font-size: 19px;
}
#company14{
    border: none;
}

@media (max-width:600px) {
    .container{
        width: 400px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .job-heading{
        width: 200px;
    }
    .job-heading h1{
        font-size: 20px;
        padding: 0.3rem;
    }
    .company-container{
        width: 350px;
        margin-left: 0;
        padding: 0.2rem 0.5rem;
    }
    .companies{
        margin-left: 17px;
        width: 300px;
        font-size: 15px;
        gap: 2em;
    }
    .applyBtn{
        width: 70px;
    }
    .applyBtn a{
        text-align: center;
        font-size: 13px;
    }
    .para{
        max-width: 390px;
        margin-bottom: 0.5rem;
    }
    .para-text{
        font-size: 15px;
    }
}